<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//APPLE/DTDs/

PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

	<key>PackageName</key>

	<string>SelfX</string>

	<key>ThemeLib-BadgeSettings</key>

 <dict>

	<key>FontName</key>

	<string>Helvetica</string>

	<key>FontSize</key>

	<real>1</real>

	<key>HeightChange</key>

	<real>0.0</real>

	<key>TextColor</key>

	<string>#ffffff</string>

	<key>TextXoffset</key>

	<real>2.2000000000000002</real>

	<key>TextYoffset</key>

	<real>0.29999999999999999</real>

	<key>WidthChange</key>

	<real>4</real>

</dict>

</dict>

</plist>

